body {
	font-style: Arial;
}

i{
	border: 3px solid white;
	border-radius: 50%; 
}

.btn.btn-default.mh-button-shopper{
	margin-left: 156px;
	margin-top: 19px;
	margin-bottom: 30px;
}

.btn.btn-danger.mh-button-chercher{
	margin-left: 133px;
	margin-top: 19px;
	margin-bottom: 30px;
}

p.mh-paragraphe-1 {
	padding-left: 83px;
	margin-top: 10px;
	margin-bottom: 10px;
}
p.mh-paragraphe-2{
	padding-left: 91px;
}
.mh-jumbotron {
	background-image:url(/img/fond-jumbotron.jpg);
}
